<table>
    <tr>
      <td>
        <img src="https://avatars2.githubusercontent.com/u/16744158?v=4&s=400">
      </td>
      <td>
        <img src="https://avatars3.githubusercontent.com/u/9065536?v=4&s=400">
      </td>
      <td>
        <img src="https://avatars2.githubusercontent.com/u/11247136?v=4&s=400">
      </td>
      <td>
        <img src="https://avatars2.githubusercontent.com/u/28697972?v=4&s=400">
      </td>
    </tr>
    <tr>
      <td>
        Product Owner
      </td>
      <td>
        Scrum Master
      </td>
      <td>
        Software Engineer
      </td>
      <td>
        Software Engineer
      </td>
    </tr>
    <tr>
      <td>
        Kevin Su
      </td>
      <td>
        Lisa Gee
      </td>
      <td>
        Kevin Kim
      </td>
      <td>
        Anjali Sharma
      </td>
    </tr>
  </table>