<div class="container aboutus">
  <div class="row">
    <!-- <div class="jumbotron">
      <h4>About Pic-A-Farm</h4>
      <p>Pic-A-Farm lets home growers to connect to consumers that want to buy organic vegetables.</p>
    </div> -->

    <h4>About the Team</h4>
    <p>Pic-A-Farm lets home growers to connect to consumers that want to buy organic vegetables.</p>

    <div class="col-md-4 signup">
      <img class="img-rounded imgbox-aboutus" src="https://avatars2.githubusercontent.com/u/16744158?v=4&s=400"><h4>Product Owner</h4> <h6>Kevin Su</h6> <a href="https://github.com/imkevinsu">Github</a>
    </div>

    <div class="col-md-4 signup">
      <img class="img-rounded imgbox-aboutus" src="https://avatars3.githubusercontent.com/u/9065536?v=4&s=400"><h4>Scrum Master</h4> <h6>Lisa Gee</h6> <a href="https://github.com/Zhusufeng">Github</a>
    </div>

    <div class="col-md-4 signup">
      <img class="img-rounded imgbox-aboutus" src="https://avatars2.githubusercontent.com/u/11247136?v=4&s=400"><h4>Software Engineer</h4> <h6>Kevin Kim</h6> <a href="https://github.com/kevinlabs">Github</a>
    </div>

    <div class="col-md-4 signup">
      <img class="img-rounded imgbox-aboutus" src="https://avatars2.githubusercontent.com/u/28697972?v=4&s=400"><h4>Software Engineer</h4> <h6>Anjali Sharma</h6> <a href="https://github.com/A9Sharma">Github</a>
    </div>

  </div>
</div>
<!-- /.container -->