<div class="container">
  <div class="row">

    <div class="jumbotron">
      <h1>About Pic-A-Farm</h1>
      <p>Pic-A-Farm lets home growers to connect to consumers that want to buy organic vegetables.</p>
    </div>

    <div class="col-md-4 signup">
      <img src="https://avatars2.githubusercontent.com/u/16744158?v=4&s=400"><h1>Product Owner</h1>Kevin Su
    </div>

    <div class="col-md-4 signup">
      <img src="https://avatars3.githubusercontent.com/u/9065536?v=4&s=400"><h1>Scrum Master</h1> Lisa Gee
    </div>

    <div class="col-md-4 signup">
      <img src="https://avatars2.githubusercontent.com/u/11247136?v=4&s=400"><h1>Software Engineer</h1> Kevin Kim
    </div>

    <div class="col-md-4 signup">
      <img src="https://avatars2.githubusercontent.com/u/28697972?v=4&s=400"><h1>Software Engineer</h1> Anjali Sharma
    </div>

  </div>
</div>
<!-- /.container -->