<div ng-controller="mainCtrl">
  <table>
    <tbody>
      <tr ng-repeat="farm in farmerArr">
        <td class="farms" ng-show="!showFarm">
          <a href ng-click="showFarm = !showFarm"> {{farm.title}} </a> <br>
            {{farm.price}} <br>
            {{farm.description}} <br>
            {{farm.produce}} <br>
            {{farm.curr_subscribers}} out of {{farm.max_subscribers}} <br>
        </td>
        <td ng-show="showFarm">
          <farmer-page farm="farm"></farmer-page>
          <button class="btn btn-danger" ng-click="showFarm = !showFarm"> back </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
