<div class="container aboutus">
  <div class="row">
    <div class="jumbotron">
      <h1>About Pic-A-Farm</h1>
      <p>Pic-A-Farm lets home growers to connect to consumers that want to buy organic vegetables.</p>
    </div>

    <div class="col-md-4 signup">
      <img class="img-rounded imgbox-aboutus" src="https://avatars2.githubusercontent.com/u/16744158?v=4&s=400"><h1>Product Owner</h1>Kevin Su <a href="https://github.com/imkevinsu">Github</a>
    </div>

    <div class="col-md-4 signup">
      <img class="img-rounded imgbox-aboutus" src="https://avatars3.githubusercontent.com/u/9065536?v=4&s=400"><h1>Scrum Master</h1> Lisa Gee <a href="https://github.com/Zhusufeng">Github</a>
    </div>

    <div class="col-md-4 signup">
      <img class="img-rounded imgbox-aboutus" src="https://avatars2.githubusercontent.com/u/11247136?v=4&s=400"><h1>Software Engineer</h1> Kevin Kim <a href="https://github.com/kevinlabs">Github</a>
    </div>

    <div class="col-md-4 signup">
      <img class="img-rounded imgbox-aboutus" src="https://avatars2.githubusercontent.com/u/28697972?v=4&s=400"><h1>Software Engineer</h1> Anjali Sharma <a href="https://github.com/A9Sharma">Github</a>
    </div>

  </div>
</div>
<!-- /.container -->