<div class="container aboutus">
  <div class="row">

    <h1>About the Team</h1>
    <p>Pic-A-farm is a concept application built for the Greenfield project for Hack Reactor. The project is based off our mutual
      love for organic vegetables. Our app allows home growers to connect to consumers that enjoy receiving organic vegetables
      at home. Consumers that participate in a particular farm is subscribed to updates and after harvest will receive a
      box of vegetables that they requested. Our team consists of four people listed below, to learn more please visit their
      respective Githubs. Thank you for reading. </p>
      
    <div class="container">
      <div class="col-md-3 col-sm-6 col-xs-12 signup">
        <img class="img-rounded imgbox-aboutus" src="https://avatars2.githubusercontent.com/u/16744158?v=4&s=400">
        <h3>Product Owner</h3>
        <h4><a href="https://github.com/imkevinsu">Kevin Su</a></h4>
      </div>
  

    <div class="col-md-3 col-sm-6 col-xs-12 signup">
      <img class="img-rounded imgbox-aboutus" src="https://avatars3.githubusercontent.com/u/9065536?v=4&s=400">
      <h3>Scrum Master</h3>
      <h4><a href="https://github.com/Zhusufeng">Lisa Gee</a></h4>
    </div>

    <div class="col-md-3 col-sm-6 col-xs-12 signup">
      <img class="img-rounded imgbox-aboutus" src="https://avatars2.githubusercontent.com/u/11247136?v=4&s=400">
      <h3>Software Engineer</h3>
      <h4><a href="https://github.com/kevinlabs">Kevin Kim</a></h4>
    </div>

    <div class="col-md-3 col-sm-6 col-xs-12 signup">
      <img class="img-rounded imgbox-aboutus" src="https://avatars2.githubusercontent.com/u/28697972?v=4&s=400">
      <h3>Software Engineer</h3>
      <h4><a a href="https://github.com/A9Sharma">Anjali Sharma</a></h4>
    </div>

  </div>
</div>
<!-- /.container -->