<div ng-controller="mainCtrl">
  <div class="row">
    <div ng-repeat="farm in farmerArr" class="col-sm-6 col-md-4">
      <div  class="thumbnail">

        <div ng-show="!showFarm">
            <h4><a href ng-click="showFarm = !showFarm"> {{farm.title}} </a></h4> <br>
            {{farm.price}} <br>
            {{farm.description}} <br>
            {{farm.produce}} <br>
            {{farm.curr_subscribers}} out of {{farm.max_subscribers}} <br>
        </div>

        <div ng-show="showFarm">
          <farmer-page farm="farm"></farmer-page>
          <button class="btn btn-danger" ng-click="showFarm = !showFarm"> back </button>
        </div>

      </div>
    </div>
  </div>
</div>
