<div class="container">
  <div class="row">
    <div class="col-md-4 login">
      <h4>Click "Create new account?"</h4>
      <div class="flip">
        <div class="card">
          <div class="face front">
            <div class="panel panel-default">
              <form class="form-horizontal" ng-submit="loginUser(user)">
                <br>
                <h1 class="text-center">Pic-A-Farm</h1>
                <br>
                <input class="form-control" placeholder="Username" ng-model="user.username" />
                <input class="form-control" placeholder="Password" ng-model="user.password" type="password" />
                <!-- <p class="text-right"><a href="">Forgot Password</a></p> -->
                <button class="btn btn-primary btn-block" type="submit">LOG IN</button>
                <hr>
                <p class="text-center">
                  <a ui-sref="signup" class="fliper-btn">Create new account?</a>
                </p>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /.container -->