<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h4>Click "Create new account?"</h4>
      <div class="flip">
        <div class="card">
          <div class="face front">
            <div class="panel panel-default">
              <form class="form-horizontal">
                <br>
                <h1 class="text-center">Pic-A-Farm</h1>
                <br>
                <input class="form-control" placeholder="Username" />
                <input class="form-control" placeholder="Password" />
                <p class="text-right"><a href="">Forgot Password</a></p>
                <button class="btn btn-primary btn-block">LOG IN</button>
                <hr>
                <!-- <p class="blue">Sign in with</p>
                <p><i class="fa fa-facebook-f fa-lg"></i><i class="fa fa-twitter fa-lg"></i></p> -->
                <hr>
                <p class="text-center">
                  <a ui-sref="signup" class="fliper-btn">Create new account?</a>
                </p>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /.container -->